@font-face {
    font-family: "Cascadia Mono";
    src: url('../fonts/CascadiaMono-Regular.woff2');
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none; 
}
::-webkit-scrollbar-thumb {
    background: #6c757d; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5c636a;
}

/* Dark Mode */
[data-bs-theme='dark'] svg path {
    fill: #fff;
}



@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-10px); /* Opcional: Añadir un pequeño desplazamiento */
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.fade-in {
    animation: fade-in 1s ease-in-out;
}

/* Terminaaal */

.terminal {
    color: #ccd0d1;
    padding: 10px;
}

.terminal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #404040;
    padding: 5px;
    color: #ffffff;
}

.terminal-body {
    height: 68vh;
    padding: 10px;
    background-color: #000000;
    overflow-y: scroll;
    border: 1px solid #404040;
    margin-bottom: 10px;
    font-family: "Cascadia Mono";
}

span[contenteditable="true"]:focus {
    outline: none;
    border: none;
}

span[contenteditable="true"] {
    vertical-align: baseline;
}

/* Browser */

.browser-simulator {
    height: 500px;
    position: fixed;
    top: 50px;
    left: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    overflow: hidden;
    min-height: 200px;
    min-width: 275px;
}

.browser-header {
    background-color: #007bff;
    color: #fff;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -ms-touch-action: none;
      touch-action: none;
}

.browser-header i {
    cursor: pointer;
    margin-right: 10px;
}

.browser-body {
    height: 100%;
    overflow-y: hidden;
}

.resize-handle {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.disabledIcon {
    pointer-events: none;
}

.disabledButton {
    pointer-events: none;
    cursor: not-allowed;
}

.browser-nav {
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    border: none;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
}

.search-button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}