@font-face {
    font-family: "Cascadia Mono";
    src: url('../fonts/CascadiaMono-Regular.woff2');
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none; 
}
::-webkit-scrollbar-thumb {
    background: #6c757d; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5c636a;
}

/* Dark Mode */
[data-bs-theme='dark'] svg path {
    fill: #fff;
}



@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-10px); /* Opcional: Añadir un pequeño desplazamiento */
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.fade-in {
    animation: fade-in 1s ease-in-out;
}

/* Terminaaal */

.terminal {
    color: #ccd0d1;
    padding: 10px;
}

.terminal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #404040;
    padding: 5px;
    color: #ffffff;
}

.terminal-body {
    height: 68vh;
    padding: 10px;
    background-color: #000000;
    overflow-y: scroll;
    border: 1px solid #404040;
    margin-bottom: 10px;
    font-family: "Cascadia Mono";
}