html {
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none; 
}
::-webkit-scrollbar-thumb {
    background: #6c757d; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5c636a;
}

/* Dark Mode */
[data-bs-theme='dark'] svg path {
    fill: #fff;
}



@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-10px); /* Opcional: Añadir un pequeño desplazamiento */
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.fade-in {
    animation: fade-in 1s ease-in-out;
}